@font-face{
    font-family: Gilroy-light;
    src: url(fonts/Gilroy-Light.otf);
}
@font-face{
    font-family: Gilroy-ExtraBold;
    src: url(fonts/Gilroy-ExtraBold.otf);
}

*{
    box-sizing: border-box;
    font-family: 'Gilroy-ExtraBold', sans-serif;
}

body{
    margin: 0;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 400px;
    height: 100%;
    background: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav img{
    width: 70%;
    display: block;
    margin-top: 36px;
    margin-bottom: 50px;
}

nav a{
    display: inline-block;
    text-decoration: none;
    padding: 5px 15px;
    font-size: 2em;
    color: black;
    letter-spacing: 0.05em;
}

nav a:hover{
    color: #333333;
}

nav p{
    margin-top: 100px;
}

#sico{
    width: 30px;
}

main{
    margin-left: 400px;
    padding: 30px;
}

main h1{
    font-size: 3em;
}

main h4{
    margin-top: -30px;
    font-size: 3em;
    font-family: 'Gilroy-Light', sans-serif;
}