@font-face{
    font-family: Gilroy-light;
    src: url(fonts/Gilroy-Light.otf);
}
@font-face{
    font-family: Gilroy-ExtraBold;
    src: url(fonts/Gilroy-ExtraBold.otf);
}

*{
    box-sizing: border-box;
    font-family: 'Gilroy-ExtraBold', sans-serif;
}

body{
    margin: 0;
    background-image: url(assets/landingpage.png);
    background-size: cover;
    background-repeat: no-repeat;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 400px;
    height: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 3em;
}

nav img{
    width: 70%;
    display: block;
    top: 2em;;
    margin-top: 2em;
    margin-bottom: 20px;
}

nav a{
    display: inline-block;
    text-decoration: none;
    padding: 5px 15px;
    font-size: 1.3em;
    color: black;
    letter-spacing: 0.05em;
}

nav a:hover{
    color: #333333;
}

nav p{
    position: fixed;
    bottom: 2.3em;
    margin-left: 1em;
}

#social{
    position: fixed;
    bottom: 4em;
    margin-left: 0.9em;
}

#search{
    border-radius: 15px;
    border: black;
    border-style: solid;
    border-width: 0.1em;
    height: 30px;
    margin-left: 1em;
    margin-bottom: 3em;
}

#sico{
    width: 30px;
    position: fixed;
    top: 10em;
    left: 14.5em;
}

main{
    margin-left: 400px;
}

main img{
    height: 100vh;
    margin-left: 400px;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: -1;
}

main h1{
    font-size: 7em;
    padding: 40px;
    color: white;
    position: fixed;
    bottom: 0.05em;
}

main h2{
    font-size: 5em;
    padding: 40px;
    color: white;
    position: fixed;
    bottom: 1.6em;
}

main h3{
    font-size: 2em;
    padding: 40px;
    color: white;
    margin-top: 0;
    position: fixed;
    top: 0.1em;
}

main h4{
    font-size: 2em;
    font-family: 'Gilroy-Light', sans-serif;
    padding: 40px;
    color: white;
    position: fixed;
    top: 2.5em;
}