@font-face{
    font-family: Gilroy-light;
    src: url(fonts/Gilroy-Light.otf);
}
@font-face{
    font-family: Gilroy-ExtraBold;
    src: url(fonts/Gilroy-ExtraBold.otf);
}

*{
    box-sizing: border-box;
    font-family: 'Gilroy-ExtraBold', sans-serif;
}

body{
    margin: 0;
    background-image: url(/assets/landingpage2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 400px;
    height: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 3em;
}

nav img{
    width: 70%;
    display: block;
    top: 2em;;
    margin-top: 2em;
    margin-bottom: 20px;
}

nav a{
    display: inline-block;
    text-decoration: none;
    padding: 5px 15px;
    font-size: 1.3em;
    color: black;
    letter-spacing: 0.05em;
}

nav a:hover{
    color: #333333;
}

nav p{
    position: fixed;
    bottom: 2.3em;
    margin-left: 1em;
}

#social{
    position: fixed;
    bottom: 4em;
    margin-left: 0.9em;
}

#search{
    border-radius: 15px;
    border: black;
    border-style: solid;
    border-width: 0.1em;
    height: 30px;
    margin-left: 1em;
    margin-bottom: 3em;
}

#sico{
    width: 30px;
    position: fixed;
    top: 10em;
    left: 14.5em;
}

main{
    margin-left: 400px;
}

main img{
    width: 100%;
    height: 100vh;
    margin-left: 400px;
    position: fixed;
    right: 0px;
    bottom: 0px;
    z-index: -1;
}

main h1{
    font-size: 4em;
    padding: 40px;
    color: white;
    margin-top: 0;
    position: fixed;
}

main h2{
    font-size: 1.3em;
    padding: 40px;
    color: white;
    margin-top: 0;
    position: fixed;
    top: 4em;
}

main h3{
    font-size: 2em;
    padding: 40px;
    color: white;
    margin-top: 0;
    position: fixed;
    top: 0.1em;
}

main h4{
    font-size: 2em;
    font-family: 'Gilroy-Light', sans-serif;
    padding: 40px;
    color: white;
    position: fixed;
    top: 2.5em;
}

#card{
    position: fixed;
    top: 23%;
    padding: 25px;
}

.column {
    display: inline-flex;
    width: 28%;
    height: 300px;
    padding: 10px;
    margin-left: 15px;
    border-radius: 20px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

section{
    margin-left: 400px;
}

section img{
    width: 100%;
    height: 60%;
    border-radius: 15px;
}

section h2{
    font-size: 1.3em;
    padding: 45px;
    color: white;
    position: fixed;
    bottom: 3.4em;
}

section h5{
    font-size: 1.5em;
    position: fixed;
    top: 48%;
    padding-left: 0.3em;
}

section p{
    
    font-size: 1em;
    position: fixed;
    top: 55%;
    padding-left: 0.5em;
}

#newsletter{
    border-radius: 15px;
    border: black;
    border-style: solid;
    border-width: 0.1em;
    width: 400px;
    height: 45px;
    position: fixed;
    bottom: 5.5em;
    margin-left: 45px;
}

#submitbtn{
    width: 60px;
    height: 47px;
    position: fixed;
    bottom: 5.5em;
    margin-left: 450px;
    border-radius: 15px;
    border:none;
}